body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #d400ff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

main {
    margin-top: 20px;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #6e1299;
    color: white;
    border-radius: 5px;
}